body{
  background-color: #d2f7f6;
}

h1{
  text-align: center;
  color: #1d7ec4;
}
 img{
   float: left;
 }

 .center{
   width: 5%;
   height: 5%;
   margin-left: 1%;
   margin-top: 2%
 }
.fancy{
  font-size: 15px;
  font-style: italic;
  font-family: sans-serif;
  color: #1d5dc4;
}

.contacts p a{
  color:#090760;
  font-size: 15px;
  font-family: fantasy;
}

a{
  color:#131642;
  font-size: 20px;
  font-family:cursive;
  font-weight: bolder;
}
