
body {
  background-color: #d2f7f6;
}

.jumbotron {
  color: #131642;
  background-color: #a2f1f2;
}

img {
  float:right;
}

h1 {
  text-align: center;
  color: #131642;
}

.intro {
  text-align: center;
  font-size: 18px;
  margin-right: 10%;
  color: #0b115b;
}

.text {
  font-size: 18px;
  color: #0b115b;
}

.fancy {
  font-size: 18px;
  font-style: italic;
  font-family: sans-serif;
  color: #1d5dc4;
}

.contacts p a {
  color: #0b115b;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bolder;
}

a {
  color: #1d5dc4;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bolder;
}
